*{
    margin:0;
}

body {
    box-sizing:border-box ;
    height:100vh;
    align-items:center ;
    justify-content:center;
    
    
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}
.dice{
    object-fit:contain;
    width:50%;
    margin-left:25%;
}
.main{
    display: flex;
    height:60%;
    background-color: rgba(255, 255, 255, 0.35); filter: blur(); box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25); border-radius: 9px; overflow: hidden; 
}
.player{
    
    width:50%;
    text-align:center;
}

.score { 
font-size: 8rem; 
font-weight: 300;
 color: #c7365f; 
 margin-bottom: auto;
 }


.player--active 
{ background-color: 
rgba(255, 255, 255, 0.4);
}
.player--active .name { 
font-weight: 700;
}

.current { 
background-color: #c7365f; 
opacity: 0.8;
 border-radius: 9px; 
 color: #fff;
  width: 65%; 
  padding: 2rem; 
  text-align: center; 
  transition: all 0.75s;
  }

.footer{
    position:absolute ;
    bottom:0;
    margin:auto ;
    width:100%;
    text-align:center;
    justify-content: space-evenly;
}

.header{
    position:absolute ;
    top:0;
    margin:auto ;
    height:10vh;
}
.btn{
    padding:20px;
    border:none;
    border-radius:5px;
    text-align:center ;
    justify-content:center ;
    align-items:center ;
}

.current-score { 
font-size: 3.5rem;
} 


.current-label { 
text-transform: uppercase; 
margin-bottom: 1rem;
 font-size: 1.7rem; 
 color: #ddd;}

.dicediv{
    height:20%;
    
    
}
@media only screen and (max-width: 600px){
    body{
        min-height:550px;
    }
    }
